/target
**/*.rs.bk
/.idea/
/build/
/out/
/tmp
/resources/netmhcout_large_el.txt
/resources/netmhcout_large_ba.txt
/resources/netmhcout.txt
/test.tsv
/immunoprot/.idea
/immunoprot/target
/netmhcpan/.idea
/netmhcpan/target
/local_data
/test_out
/themes
/example_result
/templates
/src/tests/input/binding_predictions/large_cohort_batch*.txt
/src/tests/output
/tests/output
/*txt
/*log*
