/target
**/*.rs.bk
/.idea/
/build/
/out/
/tmp
/resources/netmhcout_large_el.txt
/resources/netmhcout_large_ba.txt
/resources/netmhcout.txt
/test.tsv
/immunoprot/.idea
/immunoprot/target
/netmhcpan/.idea
/netmhcpan/target
